Fhtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.post_content_holder {
    text-align: right;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;

}

.post_content_holder img {
    display: block;
    width: 90%;
    height: auto;
    margin: 20px auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


/*==============================
=            MIXINS            =
==============================*/
/* Converting Pixels to EM */
/* Generating Background Images From Sprite */
/* Rewriting Opacity Mixin */
/* Animations */
/* Key Frames */
/* Placeholders */
/*=========================================================
=            Base styles: opinionated defaults            =
=========================================================*/
html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #ffffff;
  color: #000000;
  text-shadow: none;
}

::selection {
  background: #ffffff;
  color: #000000;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* *:after, *:before {
    content: '';
} */
a, a:visited, a:active, a:hover {
  /* color: inherit; */
  text-decoration: none;
  cursor: pointer;
}

input, button {
  border: none;
  outline: none;
}

button,
input[type=submit],
input[type=button] {
  cursor: pointer;
}

/*===========================================
=            Browse Happy prompt            =
===========================================*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*====================================
=            Social Icons            =
====================================*/
.icon-social:before {
  content: attr(data-icon);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: 'MonoSocial';
}

/*======================================
=            Helper classes            =
======================================*/
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

.text-hidden, .main_header nav ul li:first-child {
  color: transparent;
  font: 0/0 a;
  text-indent: -999;
  text-align: left;
  overflow: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, footer:before,
.clearfix:after,
footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after, footer:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, footer {
  *zoom: 1;
}

.icon-link a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.borderless {
  border: 0;
}

.is-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Modern table structure */
.table {
  display: table;
  table-layout: fixed;
}
.table .td {
  display: table-cell;
  float: none;
  vertical-align: top;
}

/* Non-selectable areas */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Device states */
.ie .hide-ie {
  display: none;
}

.mobile .hide-mobile {
  display: none;
}

/*==============================================
=            12 COLUMNS GRID SYSTEM            =
==============================================*/
.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
  float: left;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: right;
}
/*=============================
=            Fonts            =
=============================*/
@font-face {
  font-family: 'HelveticaNeueLTArabic-Light';
  src: url('../fonts/HelveticaNeueLTArabic-Light.eot');
  src: url('../fonts/HelveticaNeueLTArabic-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTArabic-Light.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTArabic-Light.woff') format('woff'),
       url('../fonts/HelveticaNeueLTArabic-Light.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTArabic-Light.svg#HelveticaNeueLTArabic-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadArabic-Regular';
  src: url('../fonts/MyriadArabic-Regular.eot');
  src: url('../fonts/MyriadArabic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadArabic-Regular.woff2') format('woff2'),
       url('../fonts/MyriadArabic-Regular.woff') format('woff'),
       url('../fonts/MyriadArabic-Regular.ttf') format('truetype'),
       url('../fonts/MyriadArabic-Regular.svg#MyriadArabic-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iranian_sansregular';
  src: url('../fonts/iranianSans.eot');
  src: url('../fonts/iranianSans.eot?#iefix') format('embedded-opentype'),
       url('../fonts/iranianSans.woff2') format('woff2'),
       url('../fonts/iranianSans.woff') format('woff'),
       url('../fonts/iranianSans.ttf') format('truetype'),
       url('../fonts/iranianSans.svg#iranian_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ProximaNovaCondRegular';
  src: url('../fonts/ProximaNovaCond-Regular.eot');
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('../fonts/ProximaNovaCond-Regular.woff') format('woff'),
       url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCondRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body, html {
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smooth: always;
  width: 100%;
  height: 100%;
  font-family: ;
  direction: rtl;
}


/*=============================
=             icon            =
=============================*/
.icon{
  display: inline-block;
  position: relative;
}
.search_icon{
  background: url('../img/sprite.png') no-repeat -10px -32px;
  width: 19px;
  height: 19px;
  top:  3px;
}
.tweet_icon{
  background: url('../img/sprite.png') no-repeat -103px -106px;
  width: 19px;
  height: 19px;
}
.fb_icon{
  background: url('../img/sprite.png') no-repeat -45px -105px;
  width: 19px;
  height: 19px;
}
.insta_icon{
  background: url('../img/sprite.png') no-repeat -75px -105px;
  width: 19px;
  height: 19px;
}
.footer_send_icon{
 background: url('../img/sprite.png') no-repeat -208px -169px;
  width: 18px;
  height: 18px;
}
.facebook_icon{
  background: url('../img/sprite.png') no-repeat -174px -110px;
  width: 30px;
  height: 30px;
}
.google_icon{
  background: url('../img/sprite.png') no-repeat -211px -110px;
  width: 30px;
  height: 30px;
}
.twitter_icon{
  background: url('../img/sprite.png') no-repeat -139px -110px;
  width: 30px;
  height: 30px;
}
.line_icon{
  background: url('../img/sprite.png') no-repeat -286px -110px;
  width: 30px;
  height: 30px;
}
.viber_icon{
  background: url('../img/sprite.png') no-repeat -323px -110px;
  width: 30px;
  height: 30px;
}
.whatsapp_icon{
  background: url('../img/sprite.png') no-repeat -249px -110px;
  width: 30px;
  height: 30px;
}
.search_big_icon{
  background: url('../img/sprite.png') no-repeat -6px -146px;
  width: 49px;
  height: 51px;
}
.close_big_icon{background: url('../img/sprite.png') no-repeat -97px -161px;width: 29px;height: 29px;right:  5px;top:  5px;}
.star_icon{
  background: url('../img/sprite.png') no-repeat -150px -172px;
  width: 7px;
  height: 6px;
}
/*=============================
=             public          =
=============================*/
.container{
  display: block;
  width: 929px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
p,.post_content_holder{
  display: block;
  margin-top: 25px;
  font-size: 14px;
  text-align: right;
  line-height:  25px;
  font-family: 'iranian_sansregular'; 
}
header{
  color: #0b0b0b;

}
.lang{
  position: absolute;
  right: 0;
  top: 10px;
}
.lang li{
  display: inline-block;
  margin-right:  6px;
}
.lang li a{
  font-size: 12px;
  font-family: 'HelveticaNeueLTArabic-Light';
  color: #0b0b0b;
 
}
header .logo{
  display: block;
  margin-top:  45px;
}
.logo img{
  width: 134px;
  height: 78px;
}
header nav{
  margin-top:  60px; 
  position:  relative;
}
header .search{
    display: block;
    position: absolute;
    left: 0;
    width: 35px;
    top: 0;
    height: 35px;
    padding: 0;
    background-color: transparent;
    border: none;
    z-index: 100;
}
.toolbar_on_scroll .search{
left: 0;
bottom:  0;
padding: 0;
    background-color: transparent;
    border: none;
    z-index: 100;

}

header nav #search_frm .searching{
  display: block;
  position: absolute;
  z-index: 1000;
  width:  35px;
  height:  35px;
  left:  0;
  top:  4px;
  cursor: pointer;
}
.toolbar_on_scroll #search_frm .searching{
  display: block;
   position: absolute;
  z-index: 1000;
  width:  35px;
  height:  35px;
  right: 11px;
  top: 0px;
}
#search_frm{
  position: relative;
  width: 50%;
  margin:  0 auto;
  top: 27%;
  border-bottom: 2px solid rgba(250,250,250,.3);
  height:  70px;
}
.toolbar_on_scroll #search_frm{
top: 11px;
float:  right;}
header #search_frm i{
position:  absolute;left: 8px;top: 13px;
z-index: 10;
}
.toolbar_on_scroll #search_frm i{
position:  absolute;top: 14px;right: 9px;
z-index: 10;
}
header #search_place{
  display: block;
  padding:  0;
  width: 0;
  border:  none;
  border-bottom: 2px solid #F3F3F3;
  left: 27px;
  position: absolute;
  bottom:  0;
  font-size:  17px;
}

.toolbar_on_scroll #search_place{
position: relative;
border: none;
height:  35px;
right: 0px;}

.menu{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.menu li{
  display: inline-block;
  position: relative;
  padding:  0 20px;
}
.menu li a{
  display: block;
  font-family: 'HelveticaNeueLTArabic-Light';
  font-size: 12px;
  padding: 0 11px 5px 11px;
  border-bottom: 2px solid #f3f3f3;
  color: #0b0b0b;
}

footer{
  padding-top: 120px;
  padding-bottom: 25px;
}
.top_footer{

}
.top_footer a{
  display: block;
  float: right;
}
.top_footer a img{
  display: block;
  width: 100px;
  height: 58px;
}
.top_footer span{
 display: block;
 width: 130px;
 height: 4px;
 float: right;
 margin-right: 20px;
 background-color: #000000;
 margin-top: 32px;
}
footer .menu{
  float: right;
  text-align: right;
  margin-top:  20px;
}
footer .menu li{
    padding: 0 0 0 40px;

}
footer .menu li:last-child{
  padding-left: 0;
}
footer .menu li a{
    text-align:  right;
  font-family: 'ProximaNovaCondRegular';
    border-bottom:  none;
    padding: 0 0 0 10px;
}
.privacy{
  margin-top: 20px;
  float: right;
  
}

.privacy a{
  display: inline-block;
  margin-left: 14px;
  text-transform: uppercase;
  padding: 0 8px 3px 8px;
  min-width: 91px;
  font-family: 'ProximaNovaCondRegular';
  font-size: 12px;
  color: #0b0b0b;
  border-bottom: 1px solid #000;
}
.bottom_footer{
  clear:  both;

}
.bottom_footer p{
  display: block;
  float:  right;
  margin-left:  21px;
  font-family: 'ProximaNovaCondRegular';
  font-size:  12px;
  text-transform: capitalize;
  color: #0b0b0b;
  direction: ltr;
}
.bottom_footer a{
  margin-left:  5px;
  color: #b7b7b7;
}
.side_footer{
  padding-top: 15px;
}
#newsletter{
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    height: 50px;
  }
  

#newsletter input{
  display: block;
  height: 32px;
  width: 100%;
  color: #c6c6c6;
  padding: 6px 35px 6px 6px;
  font-size: 12px;
  border: 1px solid #dedddd;
  font-family: 'iranian_sansregular';
  text-align:  left;
}
#newsletter p{
  font-size:  13px;
  text-align:  left;
  margin-top:  0;
  line-height:  18px;
  font-family: 'ProximaNovaCondRegular';
  color: #A9A9A9;
}
#newsletter button{
    position:  absolute;
    background-color: #dedddd;
    right: 0;
    top: 18px;
    height:  32px;
    z-index:  1000;
    width:  32px;
    border: none;
}
#newsletter i{
    top: 6px;
    position:  absolute;
    left: 6px;
    z-index: 10;
}
footer .social{
    float:  left;

    margin-top:  15px;
}
footer .social li{
    display: block;
  
    float:  left;
    margin-right: 10px;
}
footer .social li a{
    display:  block;
  
}
footer .social i{
  
}
.drop:after{
  content: "";
  position: absolute;
  display: block;
  background: url('../img/sprite.png') no-repeat -36px -12px;
  width: 8px;
  height: 4px;
  left: 15px;
  top: 8px;
}
footer .drop:after{
  left: 36px;
}
.drop ul{
  width: 85px;
  background-color:  #fff;
  box-shadow: 0px 3px 3px 0px #b2b1b5;
  position:  absolute;
  top: 23px;
  /* right:  0; */
  padding-bottom: 13px;
  z-index: 100;
  display: none;
  padding-top: 5px;
}
footer .drop ul{
  top: 15px;
}
.drop:hover ul{
  display: block;
}
.drop ul li{
  display: block;
  padding-right: 0;
  padding-left: 0;
  margin-bottom:  7px;
}
.drop ul li a{
  display: block;
  border-bottom:  none;
  padding: 10px 5px 0px 5px;
  text-align:  right;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 26px;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 12px;
}
.img_holder{
  overflow: hidden;
  background-color: #e7e7e9;
}
.img_holder img{
  display: block;
  width: 100%;
  display: none;
}
/*=============================
=             home           =
=============================*/
.section{
  margin-top: 60px;
  text-align: right;
}
.box h2{
  font-family: 'MyriadArabic-Regular';
  line-height: 30px;
  color:  #0b0b0b;
}
.box h3, .box time{
  font-family: 'HelveticaNeueLTArabic-Light';
  color: #000000;
  font-size: 14px;
}
.box time{
  color: #CACACA;
  line-height: 22px;
}
.box{
  display:  block;
  margin-bottom: 44px;
}
.image_container{
  height: 275px;
  overflow: hidden;
  width: 100%;
}
.uploader .box {
    margin-bottom:  0;
}
.little_box .img_holder{
  height: 275px;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.box:hover .img_holder{
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}
.medium_box .img_holder{
  height: 295px;
}
.big_box .img_holder{
  height: 350px;
}
.brief_info{
  padding-top: 10px;
  height: auto;
}

/*=============================
=          category           =
=============================*/
.box .brief_info p{
  font-family: 'iranian_sansregular';
  font-size:  14px;
  margin-top:  5px;
  color:  #0b0b0b;
}
.more{
  text-align: center;
}
.btn{
  display:  inline-block;
  padding: 3px 30px;
  background-color: #333333;
  color: #fff;
  text-align:  center;
  font-family: 'MyriadArabic-Regular';
  font-size: 18px;
  border-radius:  2px;
}
.more_btn{
    margin:  0 auto;
}
/*=============================
=            inner            =
=============================*/
.inner .img_holder{
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
}

.img_holder.feature_image.artist_image {
    background-color: transparent;
}

.img_holder.feature_image.artist_image img {
    display: block;
    width: auto;
    margin: 0 auto;
}
.feature_image{
  width: 100%;
  height: 510px;
  margin-top: 0;
}
.mini_container{
  width: 730px;
}
.inner{
  font-family: 'iranian_sansregular'; 
  color: #000;
}
.inner h1{
  font-family: 'HelveticaNeueLTArabic-Light';
  margin-top: 40px;
}

.artist_info{
  display: block;
  margin: 0 auto;
  color: #999999;
  font-family: 'HelveticaNeueLTArabic-Light';
  margin-top: 15px;
  font-size: 14px;
}
.artist_info h5{
  display: inline-block;
}
.artist_info span{
  display: inline-block;
  background-color: #999999;
  width: 3px;
  height: 1px;
}
.artist_info time{
  display: inline-block;
    
}
.info{
  margin-top: 50px;
  font-size:  16px;
}
.info li{
  margin-bottom:  5px;
  
}
.info span{
  float: right;
  color:  #999999;
  margin-left:  7px;
}
.info p{
  float: right;
  margin-top: 0;
  font-size:  16px;
  line-height:  22px;
}
blockquote{
  font-family: 'HelveticaNeueLTArabic-Light';
  font-size: 14px;
  position: relative;
  text-align: right;
  padding: 30px 17px;
  line-height:  24px;
}
blockquote:after{
  content: "";
  display: inline-block;
  position: relative;
  background: url('../img/sprite.png') no-repeat -185px -13px;
  width: 24px;
  height: 19px;
  left: -10px;
  bottom: -8px;
}
blockquote:before{
  content: "";
  display: inline-block;
  position: relative; 
  background: url('../img/sprite.png') no-repeat -218px -13px;
  width: 24px;
  height: 19px; 
  right: -10px;
  top: 0;
}
.inner h4, .inner h5, .inner h6{
  font-family: 'HelveticaNeueLTArabic-Light';
  text-align:  right;
  margin-top: 50px;
  font-weight:  bold;
}
.artist_info h5{
  margin-top: 0;
}
.inner h3{
  font-family: 'HelveticaNeueLTArabic-Light';
  text-align:  right;
  border-bottom: 2px solid #ededed;
  padding-bottom: 8px;
  margin-top: 50px;
  clear:  both;
  overflow:  hidden;
}

.gallery{
  display: block;
  width:  95%;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}
.gallery li{
  display: block;
  height: 225px;
  width: 33.3%;
  float: right;
  overflow:  hidden;
}
.gallery a.img_holder{
  display: block;
  width: 100%;
  height: 100%;
  margin-top:  0;
}
.comments{
  display: block;
  width: 100%;
  background-color: transparent;
  margin-top: 15px;
}
.comments ul{
  padding: 40px 20px 20px 20px;
}
.comments ul li{
  margin-bottom: 20px;
}
.comments .img_holder{
  float: right;
  width: 70px;
  height: 70px;
  margin-top:  0;
}
.cm{
  display:  block;
  float: right;
  width: 85%;
  margin-right: 15px;
}
.cm_name{
  font-family: 'HelveticaNeueLTArabic-Light';
}
.cm_name h4{
  float:  right;
  margin-top: 0;
  font-weight: normal;
}
.cm_name time{
  float: right; 
  font-size: 14px;
  color:  #999999;
  margin-right:  12px;
}
.cm p{
  margin-top:  11px;
}
.add_comments{
  margin-top: 25px;
}
fieldset{
  font-family: 'HelveticaNeueLTArabic-Light';
  margin-top: 25px;
}
input, textarea{
  border: 1px solid #414040;
  padding: 10px;
  font-size: 14px;
  color: #6F6F6F;
}
input{
  height: 40px;
  line-height:  21px;
}
textarea{
  width:  100%;
  height:  200px;
}
.add_name{ 
}
.add_name input{
  width:  100%;
}
.add_cm{
  width:  100%;
}
.add_cm textarea{

}
input.btn{
  border: 1px solid #ededed;
  float:  left;
  font-family: 'HelveticaNeueLTArabic-Light';
  font-size:  14px;
  line-height:  26px;
  padding-bottom:  7px;
  margin-top:  5px;
}

/*=============================
=             send            =
=============================*/
.filling_form{
  display: block;
  padding-top: 10px;
}
.filling_form input{
  width: 100%;
}
.filling_form select{
  border: 1px solid #414040; 
  padding: 0 10px 10px 10px;
  font-size: 14px;
  color: #A9A9A9;
  height: 40px;
  width:  100%;
  direction: rtl;
}
.uploader input{
  border: none;
  width: auto;
  float: right;
}
.uploader p{
  display: block;
  margin-top: 0;
  font-size:  12px;
  line-height:  46px;
  margin-right:  13px;
  clear: both;
}
.uploader p:before{
  content: "";
  display: inline-block;
  position: relative;
  background: url('../img/sprite.png') no-repeat -268px -18px;
  width: 4px;
  height: 4px;
  left: 3px;
}
/*=============================
=          contact            =
=============================*/
.owner{
  margin-top:  60px;
}
.owner .img_holder{
  width: 100%;
  height: 215px;
}
.owner h4{
  font-family: 'HelveticaNeueLTArabic-Light';
  font-weight: bold;
}
.owner p{
  margin-top: 10px;
}
.contact h3{
  font-family: 'HelveticaNeueLTArabic-Light';
  margin-top:  65px;
}
input.btn{
  float: left;
}
/*=============================
=      toolbar_on_scroll      =
=============================*/
.toolbar_on_scroll{
  background-color: #fff;
  position: fixed;
  top: 0;
  width:  100%;
  z-index:  100;
  display: none;
  box-shadow: 0 0px 6px 0 #ededed;
}
.toolbar_on_scroll .logo{
  float: right;
  margin-top:  0;
  padding:  10px 0;
  position:  relative;
  z-index:  9999;
}
.toolbar_on_scroll .logo img{
  width: 100px;
  height: 58px;
}
.toolbar_on_scroll ul{
  text-align:  right;
}
.toolbar_on_scroll .search{
  float: right;
  position:  relative;
  right: 0;
  bottom: 0px;
  width:  35px;
  height: 35px;
}
.toolbar_on_scroll nav{
    height: 26px;
    margin-top:  25px;
    position:  relative;
}
.toolbar_on_scroll .menu li{
  padding: 0;
  margin-left: 25px;
}
.toolbar_on_scroll .menu a{
  border: none;
}
.toolbar_on_scroll .drop{

}
.toolbar_on_scroll .drop:after{
    left:  -4px;
  
}

.toolbar_on_scroll .drop ul {
    top: 20px;
    float: none;
}

.comment-author.vcard img{
float: right;
    width: 60px;
    height: 60px;
    margin-top: 0;
}
.comment-author.vcard b{
  float: right;
  margin-top: 0;
  font-weight: normal;
  margin-right:  15px;
}
h2.comments-title{
  display: none;
}
.comment-meta{
  padding: 0;

}
ol.comment-list{
  padding: 40px 20px 20px 20px;
  background-color: #f8f8f8;
}
ol.comment-list li{
    margin-bottom: 20px;
}
.reply{
  display: none;
}
.says{
  display: none;
}
.comment-metadata{
      float: right;

}
.comment-metadata time{

font-size: 14px;

color: #999999;

margin-right: 15px;
}
.comment-awaiting-moderation{
  
margin-right:  75px;
  
color: #999999;
}
#reply-title{
  display: none;
}
#respond{
  background-color: transparent;
}
.comment-content{
      width: 87%;
      display: inline-block;
      float: right;
      margin-right: 15px;
      margin-top:  -24px;
}
.empty_val{
  width: 100%;
}
.comment-form-author{
  padding-right: 0;
      font-family: 'HelveticaNeueLTArabic-Light';
}
.comment-form-email{
  padding-left: 0;
      font-family: 'HelveticaNeueLTArabic-Light';
}
.comment-form-comment{
  padding-right: 0;
padding-left: 0;
    font-family: 'HelveticaNeueLTArabic-Light';
}
.form-submit input{
      display: inline-block;
    padding: 3px 30px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
  border: 1px solid #ededed;
    float: left;
    font-family: 'HelveticaNeueLTArabic-Light';
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 7px;
    margin-top: 5px;
}
#email-notes{
  color: #a1a1a1;
}
.share{
  
height: 68px;
  
width:  100%;
}
.share ul{
  
margin-top:  10px;
  
display:  block;
  
clear: both;
  
width:  100%;
  
height:  auto;
}
.share ul li{
  
float:  right;
  
margin-left:  7px;
}
.share ul li a{
  
display:  block;
}
.share ul li a i{
  
}
.share ul .dont_show{
  display: none
}
.filling_form fieldset{
  margin-top: 10px
}
.search_btn{display: block;width: 40px;height: 26px;position:  absolute;left:  0;top:  0;}
.toolbar_on_scroll .search_btn{
left: 0;
}
.lang li.active a{
   border-bottom:  1px solid #0b0b0b;
}
.search_layout{
 position: fixed;
 display: none;
 width: 100%;
 height: 100%;
 z-index: 999999;
 top:  0;
 background: rgba(11,11,11,.88);
 left: 0;
}
.search_layout .search{
  position:  absolute;
  bottom:  0;
  height:  100%;
  left:  0;
  width:  70px;
  border: 0;
  background-color: transparent;
  z-index:  99999;
}
.search_layout #search_place{
  width:  100%;
  height: 100%;
  padding: 10px 20px 10px 80px;
  border:  0;
  font-size:  28px;
  background-color: transparent;
}
.search_layout .search_big_icon{
  top: 8px;
  position:  absolute;
  left:  11px;
}
.close_big{
  display: block;
  width:  40px;
  height:  40px;
  position:  absolute;
  right:  40px;
  top:  40px;
}


.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 16px;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -1px;
    /* 4px */
    margin-left: 7px;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #6F6F6F;
    background-color: #E8E6E6;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #E8E2AD;
}

.required{
position: relative;
}
.required i{
  position: absolute;
  top:  19px;
}
.name i{right: 60px;}

.comment-form-author:after {
    right:  37px;
}
.email i, .comment-form-email:after{right: 73px;}
.message i{right:  75px;}

.comment-form-comment:after {
    right: 43px;
}

.comment-form-author{
  position: relative;
}

.comment-form-email{
  position: relative;
}

.comment-form-comment{
  position: relative;
}
.comment-form-comment:after, .comment-form-email:after, .comment-form-author:after{
  position: absolute;
  content: "";
  display: block;
  background: url('../img/sprite.png') no-repeat -150px -172px;
  width: 7px;
  height: 6px;
  top:  19px;
}
.nonstar.comment-form-comment:after, .nonstar.comment-form-email:after, .nonstar.comment-form-author:after{
  display: none;
}
.filling_form .required label{color: #B29F06;position:  absolute;left: 31px;width:  100%;clear:  both;text-align:  left;top: 8px;text-transform:  capitalize;font-size:  14px;}

.filling_form .required.message label {
    left:  8px;
}

.fancybox-prev span{
  background: url('../img/sprite.png') no-repeat -437px -18px;
  width: 12px;
  height: 22px;
  left: 10px;
  }
.fancybox-next span{
  background: url('../img/sprite.png') no-repeat -455px -17px;
  width: 12px;
  height: 22px;
  right: 10px;
  }
.fancybox-close{/* background-color: rgba(250,250,250,.3); */width: 30px;height: 30px;}
.fancybox-close:after{
  position: absolute;
  content: "";
  display: block;
  background: url('../img/sprite.png') no-repeat -283px -17px;
  width: 20px;
  height: 20px;
  right:  4px;
  top:  4px;
}
#newsletter label{
  color: #B29F06;
  position:  absolute;
  width:  100%;
  clear:  both;
  text-align: right;
  top: 24px;
  text-transform:  capitalize;
  font-size:  14px;
  right:  35px;
  }
