html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


/*==============================
=            MIXINS            =
==============================*/
/* Converting Pixels to EM */
/* Generating Background Images From Sprite */
/* Rewriting Opacity Mixin */
/* Animations */
/* Key Frames */
/* Placeholders */
/*=========================================================
=            Base styles: opinionated defaults            =
=========================================================*/
html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #ffffff;
  color: #000000;
  text-shadow: none;
}

::selection {
  background: #ffffff;
  color: #000000;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* *:after, *:before {
    content: '';
} */
a, a:visited, a:active, a:hover {
  /* color: inherit; */
  text-decoration: none;
  cursor: pointer;
}

input, button {
  border: none;
  outline: none;
}

button,
input[type=submit],
input[type=button] {
  cursor: pointer;
}

/*===========================================
=            Browse Happy prompt            =
===========================================*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*====================================
=            Social Icons            =
====================================*/
.icon-social:before {
  content: attr(data-icon);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: 'MonoSocial';
}

/*======================================
=            Helper classes            =
======================================*/
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

.text-hidden, .main_header nav ul li:first-child {
  color: transparent;
  font: 0/0 a;
  text-indent: -999;
  text-align: left;
  overflow: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, footer:before,
.clearfix:after,
footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after, footer:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, footer {
  *zoom: 1;
}

.icon-link a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.borderless {
  border: 0;
}

.is-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Modern table structure */
.table {
  display: table;
  table-layout: fixed;
}
.table .td {
  display: table-cell;
  float: none;
  vertical-align: top;
}

/* Non-selectable areas */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Device states */
.ie .hide-ie {
  display: none;
}

.mobile .hide-mobile {
  display: none;
}

/*==============================================
=            12 COLUMNS GRID SYSTEM            =
==============================================*/
.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
  float: left;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
/*=============================
=            Fonts            =
=============================*/

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold.svg#ProximaNovaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCondRegular';
  src: url('../fonts/ProximaNovaCond-Regular.eot');
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('../fonts/ProximaNovaCond-Regular.woff') format('woff'),
       url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCondRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body, html {
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smooth: always;
  width: 100%;
  height: 100%;
  font-family: 'ProximaNovaCondRegular';
  direction: ltr;
}


/*=============================
=             icon            =
=============================*/
.icon{
  display: inline-block;
  position: relative;
}
.search_icon{
  background: url('../img/sprite.png') no-repeat -10px -32px;
  width: 19px;
  height: 19px;
}
.pin_icon{
  background: url('../img/sprite.png') no-repeat -60px -8px;
  width: 19px;
  height: 19px;
}
.fb_icon{
  background: url('../img/sprite.png') no-repeat -90px -8px;
  width: 19px;
  height: 19px;
}
.insta_icon{
  background: url('../img/sprite.png') no-repeat -120px -8px;
  width: 19px;
  height: 19px;
}
.footer_search_icon{
  background: url('../img/sprite.png') no-repeat -152px -11px;
  width: 16px;
  height: 16px;
}
/*=============================
=             public          =
=============================*/
.container{
  display: block;
  width: 929px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
p{
  display: block;
  margin-top: 25px;
  font-size: 16px;
  text-align: left;
  line-height:  25px;
  font-family: 'ProximaNovaCondRegular';
  text-transform:  capitalize;
}
header{
  color: #0b0b0b;

}
.lang{
  position: absolute;
  right: 0;
  top: 10px;
}
.lang li{
  display: inline-block;
  margin-right:  6px;
}
.lang li a{
  font-size: 12px;
  color: #0b0b0b;
  border-bottom:  1px solid #0b0b0b;
}
header .logo{
  display: block;
  margin-top:  45px;
}
header nav{
  margin-top:  60px; 
  position:  relative;
}
header nav .search{
  display: block;
  position: absolute;
  right: 0;
  top: 3px;
}
header nav .search i{
  top: 2px;
}

.menu{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.menu li{
  display: inline-block;
  position: relative;
  padding:  0 20px;
}
.menu li a{
  display: block;
  font-size: 12px;
  padding: 0 11px 5px 11px;
  border-bottom: 2px solid #f3f3f3;
  color: #0b0b0b;
  text-transform: uppercase;
}
.logo img {
  width: 134px;
  height: 78px;
}
footer{
  padding-top: 120px;
  padding-bottom: 25px;
}
.top_footer{

}
.top_footer a{
  display: block;
  float: left;
}
.top_footer a img{
  display: block;
  width: 120px;
  height: 30px;
}
.top_footer span{
     display: block;
    width: 130px;
    height: 4px;
    float: left;
    margin-left: 20px;
    background-color: #000000;
    margin-top: 32px;
}
footer .menu{
  float: left;
  text-align: left;
  margin-top:  20px;
}
footer .menu li{
    padding: 0 40px 0 0;
}
footer .menu li a{
    text-align:  left;
    border-bottom:  none;
    padding: 0 10px 0 0;
}
footer .drop{

}
footer .drop li{
  
}
.privacy{
  margin-top: 20px;
  float: left;
}

.privacy a{
  display: inline-block;
  margin-right: 14px;
  text-transform: uppercase;
  padding: 0 8px 3px 8px;
  font-size: 12px;
  color: #0b0b0b;
  min-width:  91px;
  border-bottom: 1px solid #000;
}
.bottom_footer{
  clear:  both;
  /* padding-top: 26px; */
}
.bottom_footer p{
  display: block;
  float: left;
  margin-right: 21px;
  font-size:  12px;
  text-transform: capitalize;
  color: #0b0b0b;
}
.bottom_footer a{
  margin-left:  5px;
  color: #b7b7b7;
}
footer fieldset{
  display: block;
  width: 100%;
  position: relative;
  margin-top:  15px;
}
footer input{
  display: block;
  height: 32px;
  width: 100%;
  color: #c6c6c6;
  padding: 6px 35px 6px 6px;
  font-size: 12px;
  border: 1px solid #e9e9e9;
}
footer fieldset span{
    position:  absolute;
    right: 0;
    top: 0;
    background-color:  #e9e9e9;
    height:  32px;
    width:  32px;
}
footer fieldset span i{
    top:  7px;

}
footer .social{
    float: right;
    margin-top:  15px;
}
footer .social li{
    display: block;
    float: left;
    margin-left: 10px;
}
footer .social li a{
    display:  block;
  
}
footer .social i{
  
}
.drop:before{
  content: "";
  position: absolute;
  display: block;
  background: url('../img/sprite.png') no-repeat -36px -12px;
  width: 8px;
  height: 4px;
  right: 17px;
  top: 8px;
}
footer .drop:before{
  right: 36px;
}
.drop ul{
  width: 85px;
  background-color:  #fff;
  box-shadow: 0px 3px 3px 0px #b2b1b5;
  position:  absolute;
  top: 23px;
  left:  0;
  padding-bottom: 13px;
  z-index: 100;
  display: none;
  padding-top: 5px;
}
footer .drop ul{
  top: 15px;
}
.drop:hover ul{
  display: block;
}
.drop ul li{
  display: block;
  padding-right: 0;
  padding-left: 0;
  margin-bottom:  7px;
}
.drop ul li a{
  display: block;
  border-bottom:  none;
  padding: 10px 5px 0px 5px;
  text-align: left;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 12px;
}
h1, h2, h3, h4, h5, h6{
  text-transform:  capitalize;
}
.img_holder{
  overflow: hidden;
  background-color: #e7e7e9;
}
.img_holder img{
  display: block;
  width: 100%;
}
/*=============================
=             home           =
=============================*/
.section{
  margin-top: 60px;
  text-align: left;
}
.box h2{
  color:  #0b0b0b;
  text-transform: capitalize;
  line-height:  32px;
  font-family: 'ProximaNovaBold';
}
.box h3, .box time{
  color: #000000;
  text-transform: capitalize;
}
.box time{
  color: #CACACA;
}
.box{
  display:  block;
  margin-bottom: 44px;
}
.little_box .img_holder{
  height: 275px;
}
.medium_box .img_holder{
  height: 295px;
}
.big_box .img_holder{
  height: 350px;
}
.brief_info{
  padding-top: 10px;
  height: auto;
}

/*=============================
=          category           =
=============================*/
.box .brief_info p{
  margin-top:  5px;
  color:  #0b0b0b;
}
.more{
  text-align: center;
}
.btn{
  display:  inline-block;
  padding: 3px 30px;
  background-color: #333333;
  color: #fff;
  text-align:  center;
  font-size: 20px;
  border-radius:  2px;
  text-transform:  uppercase;
}
.more_btn{
    margin:  0 auto;
}
/*=============================
=            inner            =
=============================*/
.inner .img_holder{
  width: 100%;
  height: 400px;
  margin-top: 30px;
}
.feature_image{
  width: 100%;
  height: 510px;
  margin-top: 0;
}
.mini_container{
  width: 730px;
}
.inner{ 
  color: #000;
}
.inner h1{
  margin-top: 40px;
}

.artist_info{
  display: block;
  margin: 0 auto;
  color: #999999;
  margin-top: 15px;
  font-size: 14px;
}
.artist_info h5{
  display: inline-block;
}
.artist_info span{
  display: inline-block;
  background-color: #999999;
  width: 3px;
  height: 1px;
}
.artist_info time{
  display: inline-block;
  text-transform:  capitalize;
}
.info{
  margin-top: 50px;
  font-size:  16px;
}
.info li{
  margin-bottom:  5px;
  
}
.info span{
  float: left;
  color:  #999999;
  margin-right: 7px;
  text-transform:  capitalize;
}
.info p{
  float: left;
  margin-top: 0;
  font-size:  16px;
  line-height:  22px;
}
blockquote{
  font-size: 14px;
  position: relative;
  text-align: left;
  padding: 30px 17px;
  line-height:  24px;
}
blockquote:after{
  content: "";
  display: inline-block;
  position: relative;
  background: url('../img/sprite.png') no-repeat -218px -13px;
  width: 24px;
  height: 19px;
  right: -10px;
  bottom: -8px;
}
blockquote:before{
  content: "";
  display: inline-block;
  position: relative;
  background: url('../img/sprite.png') no-repeat -185px -13px;
  width: 24px;
  height: 19px;
  left: -10px;
  top: 0;
}
.inner h4{
  text-align:  left;
  margin-top: 50px;
  font-family: 'ProximaNovaBold';
}
.inner h3{
  text-align:  left;
  margin-top: 50px;
  border-bottom: 2px solid #ededed;
  padding-bottom: 8px;
}

.gallery{
  display: block;
  width:  95%;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}
.gallery li{
  display: block;
  height: 225px;
  width: 33%;
  float: left;
}
.gallery a.img_holder{
  display: block;
  width: 100%;
  height: 100%;
}
.comments{
  display: block;
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 15px;
}
.comments ul{
  padding: 40px 20px 20px 20px;
}
.comments ul li{
  margin-bottom: 20px;
}
.comments .img_holder{
  float: left;
  width: 70px;
  height: 70px;
  margin-top:  0;
}
.cm{
  display:  block;
  float: left;
  width: 85%;
  margin-left: 15px;
}
.cm_name{
}
.cm_name h4{
  float: left;
  margin-top: 0;
  font-weight: normal;
}
.cm_name time{
  float: left;
  font-size: 14px;
  color:  #999999;
  margin-left: 12px;
}
.cm p{
  margin-top:  11px;
}
.add_comments{
  margin-top: 25px;
}
fieldset{
  margin-top: 25px;
}
input, textarea{
  border: 1px solid #414040;
  padding: 10px;
  font-size: 16px;
  color: #A9A9A9;
}
input{
  height: 40px;
  line-height:  21px;
}
textarea{
  width:  100%;
  height:  200px;
}
.add_name{ 
}
.add_name input{
  width:  100%;
}
.add_cm{
  width:  100%;
}
.add_cm textarea{

}
input.btn{
  border: 1px solid #ededed;
  float:  left;
  font-size: 18px;
  margin-top:  5px;
}

/*=============================
=             send            =
=============================*/
.filling_form{
  display: block;
  padding-top: 30px;
}
.filling_form input{
  width: 100%;
}
.filling_form select{
  border: 1px solid #414040;
  padding: 0 10px 10px 10px;
  font-size: 14px;
  color: #A9A9A9;
  height: 40px;
  width:  100%;
  direction:  ltr;
}
.uploader input{
  border: none;
  width: auto;
  float: left;
}
.uploader p{
  display: block;
  margin-top: 0;
  font-size:  12px;
  line-height:  46px;
  margin-left: 0;
  clear: both;
}
.uploader p:before{
  content: "";
  display: inline-block;
  position: relative;
  background: url('../img/sprite.png') no-repeat -268px -18px;
  width: 4px;
  height: 4px;
  right: 3px;
}
/*=============================
=          contact            =
=============================*/
.owner{
  margin-top:  60px;
}
.owner .img_holder{
  width: 100%;
  height: 215px;
}
.owner h4{
  font-family: 'ProximaNovaBold';
}
.owner p{
  margin-top: 10px;
}
.contact h3{
  margin-top:  65px;
}
input.btn{
  float: left;
}
/*=============================
=      toolbar_on_scroll      =
=============================*/
.toolbar_on_scroll{
  background-color: #fff;
  position: fixed;
  top: 0;
  width:  100%;
  z-index:  100;
  display: none;
  box-shadow: 0 0px 6px 0 #ededed;
}
.toolbar_on_scroll .logo{
  float: left;
  margin-top:  0;
  padding:  10px 0;
}
.toolbar_on_scroll .logo img{
  width: 130px;
  height: 60px;
}
.toolbar_on_scroll ul{
  float: left;
  text-align: left;
  margin:  0;
  margin-top:  25px;
}
.toolbar_on_scroll .search{
  float: right;
  position:  relative;
  right:  11px;
  top:  25px;
}
.toolbar_on_scroll nav{
  /* margin-top: 18px; */
}
.toolbar_on_scroll .menu li{
  padding: 0;
  margin-right: 25px;
}
.toolbar_on_scroll .menu a{
  border: none;
}

.toolbar_on_scroll .drop li {
    margin-right:  0;
}
.toolbar_on_scroll .drop{

}
.toolbar_on_scroll .drop:before{
    right: -4px;
}
.toolbar_on_scroll .drop ul{
      top: 15px;
      float:  none;
}
.toolbar_on_scroll .logo img {
    width: 100px;
    height: 58px;
}
.top_footer a img {
    display: block;
    width: 100px;
    height: 58px;
}