/*====================================

      RESPONSIVE

====================================*/

@media (max-width: 1024px){


}
/*****************TABLET LANSCAPE********************/


@media (max-width: 768px){


}
/*****************TABLET PORTRATE********************/

@media (max-width: 480px){


}
/*****************MOBILE LANDSCAPE********************/

@media (max-width: 320px){




}
/*****************MOBILE PORTRATE********************/